body{
    background-color:#F4F4F4;
}



.barra1 {
    box-sizing: border-box;
    background: #ff6b00;
    height: 111px;
    position: relative;
    max-width: 100%;
}

.barraDelgada{
    width: 99%;
    position:absolute;
    background-color: #ff6b00;
    height: 10px;
    top:125px;

}

.menu{
  box-sizing: border-box;
  width: 61px;
  height: 57px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 19px;
    
}

.Logo{
  box-sizing: border-box;
  width: 113px;
  height: 98px;
  position:absolute;
  left: 85%;
  top: 5px;
}

.buttons-container {
    text-align: center;
    position: absolute;
    top:28px;
    left: 8%;
    background-color: #ffffff;
    border-radius: 10px;

}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sign-in {
    background-color: #ff6b00;
    color: #ffffff;
    border: 2px solid #ff6b00;
}

.sign-up {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #ffffff;
}

button:hover {
    background-color: #333333;
}

.search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top:30px;
    left:30%;
}

.search-input, .search-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    margin: 5px;
    border-radius: 5px;
}

.search-input {
    width: 300px;
}

.categorias{
    background-color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border:solid 1px #ff6b00;
    border-radius: 5px;


}

.search-button {
    background-color: #ff6b00;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: solid 2px #ffffff;
}



.BarraInicio{
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 15px 0px 15px 0px;
    width: 250px;
    height: 400px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 60PX;
    flex: 1;

    }

    
.Item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 55px;
    height: 55px;
    
    
}
    
.Icon {
    width: 55px;
    height: 55px;
    margin-right: 5px;
    margin-top: 10px;
}
    
.Text {
    margin-right: 10px;
    display: inline-block; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.Info {
    margin-top: 20px;
    margin-left: 20px;
}

.Cuadro1 {
    width: 400px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    left: 25%;
    top: 22%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 10px 0px 0px 0px;

}

.Cuadro2 {
    width: 400px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    left:64%;
    top:25%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 10px 0px 0px 0px;

}

.Cuadro3 {
    width: 400px;
    height: 150px;
    background-color: #ffffff;
    margin-left: 10px;
    position:absolute;
    left: 29%;
    top: 49%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 10px 0px 0px 0px;

}

.Cuadro4 {
    width: 310px;
    height: 120px;
    background-color: #ffffff;
    position: absolute;
    left:25%;
    top:77%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 10px 0px 0px 0px;

}

.Cuadro5 {
    width: 310px;
    height: 120px;
    background-color: #ffffff;
    position: absolute;
    left:50%;
    top:77%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 10px 0px 0px 0px;

}

.Cuadro6 {
    width: 310px;
    height: 120px;
    background-color: #ffffff;
    position: absolute;
    left:75%;
    top:77%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 10px 0px 0px 0px;

}

.Cuadro7 {
    width: 160px;
    height: 130px;
    background-color: #ffffff;
    position: absolute;
    left: 850px;
    top:340px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff0000;
    border-width: 10px 0px 0px 0px;

}


.ellipse {
    border-radius: 50%;
    border-style: solid;
    border-color: #807f7f;
    border-width: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    left:78%;
    top:52%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);

  }
  
.mapa{
    height: 80px;
    position: absolute;
    top: 40px;
    left:150px;
}

.imagencuadro1 {
    position: absolute;
    top:40px;
    left:30px;
    height: 80px;

}

button {
    padding: 7px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    
}

.aceptar {
    background-color: #ff6b00;
    color: #000000;
    position: absolute;
    left: 276px;
    top:20px;
}

.rechazar {
    background-color: #ff6b00;
    color: #000000;
    position: absolute;
    left:270px;
    top:70px;
}

.Ganancias {
    position: absolute;
    left: 30px;
    font-size:40px;
}

.Valor{
    position: absolute;
    left: 100px;
    top:75px;
    font-size:40px;
}

.btn-group {
    position: absolute;
    top:25px;
    left:20px;
    background-color: #ff6b00;
    color: #ff6b00;
}



